$primary: #93b5ff;
$secondary: #dc8f00;
$secondary-light: #fad797;
$accent: #00ba00;
$accent-light: #93ff93;
$warning: #b20808;
$warning-light: #ff9e9e;
$light-gray: #f6f6f6;
$dark-gray: #8d8a8a;
$disabled: #eeeeee;
$light: #fff;
